 body{
	margin: 0;
	padding:0;
	font-family:"cursive";
    font-weight: bold;
}
ul,li,h1,h2,h3,h4,h5,h6,dd,dt,dl{
	padding: 0;
	margin: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
strong,h2,h5,h6,i{
	display: block;
}
@mixin userrem ($size){
	$shebei-list:320px,375px,414px,720px;
	html{
		@each $shebei in $shebei-list{
			@media screen and( min-width: $shebei ){
				font-size: 100px * ($shebei/$size)
			}
		}
	}
}
@include userrem(720px);

.add_hide{
	width: 3rem;
    height: 4.75rem;
    background: #1b1b1b;
    position: absolute;
    top: 0.96rem;
    right: 0;
    z-index: 9999;
    box-shadow: 0px 0 3px #1b1b1b;
}
.add_hide_list{
	width: 100%;
    height: 0.95rem;
    background: #393A3E;
    border: 0.01rem solid #eee;
}
.add_hide_img{
	float:left;
	width:1.13rem;
	height:100%;
}
.add_hide_font{
	float:left;
	font-size: 0.3rem;
	color:#fff;
	line-height: 0.95rem;
}
.fqql{
	background: url(../images/fqql.png);
	background-size: 100%;
}
.tjpy{
	background: url(../images/tjpy.png);
	background-size: 100%;
}
.sys_hide{
	background: url(../images/sys_hide.png);
	background-size: 100%;
}
.sfk{
	background: url(../images/sfk.png);
	background-size: 100%;
}
.bz{
	background: url(../images/bz.png);
	background-size: 100%;
}

#content{
	position: absolute;
	top:0;
	bottom: 1.1rem;
	left: 0;
	right: 0;
	margin:auto;
	overflow: auto;
	z-index: -1;
	.collection{
		margin-top: 1.3621rem;
		padding: 0 0.3rem;
		li{
			height: 1.4rem;
			width: 100%;
		}
	}
	p{
			width: 4rem;
		}
	img{
		width: 1rem;
		height: 1rem;
		float: left;
	}
}
/*下导航*/
#bottom{
	width: 100%;
	height:1.1rem;
	border-top: 0.01rem solid #E4E4E4;
	position: absolute;
	bottom:0;
	left:0; 
	background-color: #fff;
	ul{
		height: 100%;
		li{
			text-align: center;
			float: left;
			width: 25%;
			height: 100%;
			a{
				display: block;
				height: 0.8rem;
				margin: 0.15rem 0.2rem;
				background-color: #fff;
				.weixin{
					height: 0.46rem;
					margin: 0 0.43rem;
					background: url(../images/weixin.png) center center no-repeat;
					background-size:0.6rem;
				}
				.tongxunlu{
					height: 0.46rem;
					margin: 0 0.43rem;
					background: url(../images/tongxunlu.png) center center no-repeat;
					background-size:0.6rem;
				}
				.tongxunlu1.active{
					height: 0.46rem;
					margin: 0 0.43rem;
					background: url(../images/tongxunlu1.png) center center no-repeat;
					background-size:0.6rem;
					span{
						color: green;
					}
				}
				.faxian{
					height: 0.46rem;
					margin:0.02rem 0.43rem 0 0.43rem;
					background: url(../images/faxian.png) center center no-repeat;
					background-size:0.459rem;
				}
				.wo{
					height: 0.46rem;
					margin: 0 0.43rem;
					background: url(../images/wo.png) center center no-repeat;
					background-size:0.5rem;
				}
				/*span{
					font-size: 0.24rem;
					color: #9C9C9C;
					font-weight: bold;
				}*/
			}
		}
	}
}
/*上一*/
#top{
	width: 100%;
	height: 0.52rem;
	background-color: #3F2747;
	line-height: 0.52rem;
	position: fixed;
	top:0;
	padding: 0 0.15rem;
	span{
		font-weight: bold;
		font-size: 0.28rem;
		color: #FBFBFA;
	}
	strong{
		color: #FBFBFA;
		float: right;
	}
	.dianliang{
		width: 0.55rem;
		height: 100%;
		background: url(../images/dianliang.svg);
		background-size: 0.5rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.xinhao{
		width: 0.51rem;
		height: 100%;
		background: url(../images/xinhao.svg);
		background-size: 0.4rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.wuxian{
		width: 0.51rem;
		height: 100%;
		background: url(../images/wuxian.svg);
		background-size: 0.4rem;
		background-repeat: no-repeat;
		background-position: center center;
	}
}
/*上二*/
#header{
	width: 100%;
	height:0.97rem;
	background-color: #393A3E;
	position: fixed;
	top:0.52rem;	
	padding: 0 0.3rem; 
	h2{
		display: block;
		color: #FBFBFA;
		width: 3.2rem;
		float: left;
		font-size: 0.36rem;
		line-height: 0.97rem;
		font-weight: bold;
	}
	.add,.search{
		float: right;
		margin: 0.3rem 0;
		display: block;
		width: 0.41rem;
		height: 0.41rem;
	}
	.add{
		background: url(../images/add.svg);
        background-size: 0.41rem;
        background-repeat: no-repeat;
	}
	.search{
		margin-right: 0.84rem;
		background: url(../images/search.svg);
        background-size: 0.41rem;
        background-repeat: no-repeat;
	}
}
/*微信*/
#contacts{
	height: auto;
	width: 100%;
	margin-top: 1.49rem;
	li{
		position: relative;
		height: 1.25rem;
		padding: 0.12rem 0.3rem 0.18rem 0.3rem;
		background-color: #fff;
		border-bottom: 0.01rem solid #f7f7f7;
		a{
			display: block;
			width: 100%;
			height: 100%;
			strong{
				width: 0.97rem;
				height: 0.97rem;
				float: left;
				margin:0.125rem 0.28rem 0 0.1rem;
				background-color: blue;
				img{
					width: 0.97rem;
					height: 0.97rem;
				}
			}
			.right{
				width: 5.55rem;
				float: left;
				margin-top: 0.25rem;
				margin-bottom: 0.15rem;
				h6{
					font-size: 0.3rem;
					margin-bottom: 0.16rem;
					color: #3d3d3d;
					i{
						display:inline-block;
						float: right;
						font-size: 0.18rem;
					}
				}
				span{
					color: #ABABAB;
					height: 0.254rem;
				}
			}
		}
	}
}
.extra{
	position: absolute;
	left:0;
	top:0;
	width:100%;
	height:auto;
	z-index: 99;
	background: #fff;
	transition:all .3s ease;
}
#contacts .show-delete .extra{
	transform:translateX(-1rem);
}
.delete{
	position: absolute;
    right: 0;
    bottom: 0.15rem;
    width: 1rem;
    height: 1rem;
    border-radius: 0.12rem;
    background: steelblue;
    font-size: 0.24rem;
    color: #000;
    text-align: center;
    line-height: 1rem;
    z-index: 0;
}
.xiaoxi{
	position: relative;
	width:100%;
	height:1.25rem;
	background: #fff;
	margin-top: 0.02rem;
}
.contacts{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:auto;
}
.contacts-box{
	position: absolute;
	left:0;
	top:1.5rem;
	width:100%;
	height:auto;
	background: #EBEBEB;
}
/*我*/
#contain{
	height: 10.2rem;
	width: 100%;
	margin-top: 1.49rem;
	background-color: #EBEBEB;
	li.shoucang{
		border-bottom: 0.01rem solid #EBEBEB;
	}
	li{
		margin: 0 0.28rem;
		padding: 0.34rem 0 0.25rem 0;
	}
	h2{
		line-height: 0.6rem;
		height: 0.4rem;
		font-size: 0.3rem;
	}
	strong{
		width: 0.5rem;
		height: 0.5rem;
		float: left;
		background-color: red;
		margin-left: 0.14rem;
		margin-right: 0.4rem;
	}
	.xiangce1{
		background: url(../images/xiangce.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.shoucang1{
		background: url(../images/shoucang.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.qianbao1{
		background: url(../images/qianbao.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.kabao1{
		background: url(../images/kabao.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.biaoqing1{
		background: url(../images/biaoqing.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.set1{
		background: url(../images/shezhi.svg) center center no-repeat;
		background-size: 0.5rem;
	}
	.geren{
		width: 100%;
		height: 1.62rem;
		background-color: #fff;
		position: relative;
        top: 0.38rem;
		margin:0.38rem 0 0.38rem 0; 
		strong{
			width: 1.29rem;
			height: 1.29rem;
		    margin: 0.2rem 0.34rem 0.2rem 0.3rem;
			background-color: #000;
            margin-right: 0.34rem;
            background: url(../images/18.jpg) center center no-repeat;
            background-size: 2rem;
		}
		.ewm{
			background: url(../images/ewm.png) center center no-repeat;
            background-size: 0.4rem;
		}
        .gr-info{
        	float: left;
            width: 4rem;
            height: 1.69rem;
        	h2{
        		display: block;
                font-size: 0.3rem;
                text-indent: 3px;
                padding-top: 0.2rem;
                margin-bottom: 0.2rem;
                padding-bottom: 0.5rem;           
        	}
        	h5{
        		display: block;
        		font-size: 0.28rem;
        		padding-bottom: 0.43rem;
        	}
        }
		i{
			width: 0.38rem;
            height: 0.38rem;
            background-color: #000;
            position: absolute;
            right: 0.5rem;
            bottom: 0.1724rem;        
		}
	}

	.gr-sec{
		height: 1.94rem;
		background-color: #fff;
		margin-top: 0.6986rem;
		li{
			height: 0.97rem;
		}
		
	}

	.gr-money{
		height: 1.94rem;
		background-color: #fff;
		margin-top: 0.3428rem;
		li{
			height: 0.97rem;
		}
	}
	.biaoqing{
		height: 0.97rem;
		width: 100%;
		background-color: #fff;
		margin-top: 0.3428rem;
		padding: 0.2586rem 0.2586rem;
	}
	.set{
		height: 0.97rem;
		width: 100%;
		background-color: #fff;
		margin-top: 0.3428rem;
		padding: 0.2586rem 0.2586rem;
	}
}
/*通讯录*/
#tongxunlu{
	height: auto;
	width: 100%;
	margin-top: 1.49rem;
	background-color: #EBEBEB;
	.guli{
	    margin: 0 0.48rem 0 0.25rem;
	}
	.pytuijie{
	    padding: 0.1rem 0.25rem;
		height: 0.44rem;
		line-height: 0.24rem;
		a{
			color: #8E8E8E;
		    font-size: 0.24rem;
		}
	}
	.tongshang{
		height: 4.18rem;
		width: 100%;
		background-color: #fff;
		strong{
			width: 0.74rem;
			height: 0.74rem;
			background-color: orange;
			margin-right: 0.32rem;
			margin-top: 0.16rem;
			float: left;
		}
		li{
			height: 1.06rem;
			line-height: 1.06rem;
			border-bottom: 0.01rem solid #ECECEC;
			.newF{
				background: url(../images/xinpengyou.png) center center no-repeat;
				    background-size: 1rem;
			}
			.qunliao{
				background: url(../images/qunliao.png) center center no-repeat;
				    background-size: 1rem;
			}
			.biaoqian{
				background: url(../images/biaoqian.png) center center no-repeat;
				    background-size: 1rem;
			}
			.gongzhaohao{
				background: url(../images/gongzhaohao.png) center center no-repeat;
				    background-size: 1rem;
			}
			a{
				color: #313131;
			}
		}
	}
	.contactList{
		height:auto;
		background-color: #fff;
		.liebiao{
			height: 1.06rem;
			line-height: 0.7rem;
	        margin: 0 0.48rem 0 0.25rem;
	        padding: 0.18rem 0;
			border-bottom: 0.01rem solid #ECECEC;
			a{
		        color: #515151;
			}
			strong{
			width: 0.72rem;
			height: 0.72rem;
			background-color: orange;
			margin-right: 0.25rem;
			float: left;
			img{
				width: 0.72rem;
			    height: 0.72rem;
			}
		    }
		}
		.zimu{
			background-color:#EBEBEB;
		}
	}
}
/*字母列表*/
.zimu-list{
	position: fixed;
    top: 5rem;
    right: 0;
    text-align: center;
    background-color: silver;
    width: 0.5rem;
    #liwai{
    	margin: 0;
    }
}
/*发现*/
#friend{
	height:10.18rem;
	width: 100%;
	margin-top: 1.49rem;
	background-color: #EBEBEB;
	.shoucang{
		border-bottom: none;
	}
	.pyq{
		background: url(../images/pyq.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.sys{
		background: url(../images/sys.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.yyy{
		background: url(../images/yyy.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.fjdr{
		background: url(../images/fjdr.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.plp{
		background: url(../images/plp.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.gw{
		background: url(../images/gw.png) center center no-repeat;
		background-size: 0.4rem;
	}
	.yx{
		background: url(../images/yx.png) center center no-repeat;
		background-size: 0.4rem;
	}
	li{
		margin:0 0.29rem;
		padding: 0.24rem 0;
		height: 0.97rem;
		border-bottom: 0.01rem solid #EBEBEB;
	}
	h2{
		width: 3rem;
		height: 0.3rem;
		margin-top: 0.1rem;
		font-size: 0.3rem;
	}
	strong{
		width: 0.47rem;
		height: 0.47rem;
		float: left;
		background-color: red;
		margin:0 0.4rem 0 0.16rem;
	}
	.gr-sec1{
		background-color: #fff;
		margin-top: 0.68rem;
	}
	.gr-sec2{
		background-color: #fff;
		margin-top: 0.4rem;
	}
	.gr-money1{
		background-color: #fff;
		margin-top: 0.4rem;
	}
	.pengyouquan{
		height: 0.97rem;
		width: 100%;
		background-color: #fff;
		position: relative;
		top: 0.36rem;
		padding:0.28rem 0.36rem 0.28rem 0.44rem;
		strong{
			float: right;
			margin-right: 0;
			margin-top: -0.4138rem;
		}
	}
}
/*聊天页面*/
#liaotian{
	margin-top: 1.49rem;
	.collection-item{
		width:100%;
		height:1.10rem;
        position: relative;
        left:0;
        top:0;
        p{
        	position: absolute;
            left: 2.55rem;
            top: 0.35rem;        
			margin:0;
			padding:0;
			width:3rem;
			height:100%;
			font-size: 0.3rem;
			a{
				display: block;
                width: auto;
			    color:#000;
                height: 0.44rem;
                background-color: green;
                text-align: right;            
			}
		}
	}
	
	.collection-item.me p{
		position: absolute;
        left: 1.1rem;
        a{
        	text-align: left;
        }
	}
}
.content-left-img{
    position: absolute;
    left:-0.15rem;
    top:0.15rem;
    width:0.8rem;
    height:0.8rem;
}
.content-right-img{
    position: absolute;
    right:-0.15rem;
    top:0.15rem;
    width:0.8rem;
    height:0.8rem;
}




