     <div id="friend"ng-controller="faxianCtrl">
    	<div class="pengyouquan">
            <h2>朋友圈</h2>
            <strong class="pyq"></strong>
        </div>
        <ul class="gr-sec1">
    	    <li>
    	    	<strong class="sys"></strong>
    	    	<h2>扫一扫</h2>
    	    </li>
    	    <li class="shoucang">
    	    	<strong class="yyy"></strong>
    	    	<h2>摇一摇</h2>
    	    </li>
        </ul>
        <ul class="gr-sec2">
            <li>
                <strong class="fjdr"></strong>
                <h2>附近的人</h2>
            </li>
            <li class="shoucang">
                <strong class="plp"></strong>
                <h2>漂流瓶</h2>
            </li>
        </ul>
        <ul class="gr-money1">
    	    <li>
    	    	<strong class="gw"></strong>
    	    	<h2>购物</h2>
    	    </li>
    	    <li class="shoucang">
    	        <strong class="yx"></strong>
    	    	<h2>游戏</h2>
    	    </li>
        </ul>
    </div>

