<div>
	<div id="top">
		<span>中国移动</span>
		<strong>13:13</strong>
		<strong class="dianliang"></strong>
		<strong class="xinhao"></strong>
		<strong class="wuxian"></strong>

	</div>
	<div id="header">
		<h2>微信(8)</h2>
			<span class="add" ng-click="show=!show"></span>
			<span class="search"></span>

		<div class="add_hide" ng-show="show">
			<div class="add_hide_list">
				<div class="add_hide_img fqql"></div>
				<div class="add_hide_font">发起群聊</div>
			</div>
			<div class="add_hide_list">
				<div class="add_hide_img tjpy"></div>
				<div class="add_hide_font">添加朋友</div>
			</div>
			<div class="add_hide_list">
				<div class="add_hide_img sys_hide"></div>
				<div class="add_hide_font">扫一扫</div>
			</div>
			<div class="add_hide_list">
				<div class="add_hide_img sfk"></div>
				<div class="add_hide_font">收付款</div>
			</div>
			<div class="add_hide_list">
				<div class="add_hide_img bz"></div>
				<div class="add_hide_font">帮助与反馈</div>
			</div>
		</div>
	</div> 
</div>
</div>