    <div id="contain" ng-controller="woCtrl">
    	<div class="geren">
    		<strong></strong>
    		<div class="gr-info">
    		    <h2>cyan</h2>
    		    <h5>18234567811</h5>
    	    </div>
    		<i class="ewm"></i>
    	</div>
        <ul class="gr-sec">
    	    <li class="shoucang">
    	    	<strong class="xiangce1"></strong>
    	    	<h2>相册</h2>
    	    </li>
    	    <li>
    	    	<strong class="shoucang1"></strong>
    	    	<h2>收藏</h2>
    	    </li>
        </ul>
        <ul class="gr-money">
    	    <li class="shoucang">
    	    	<strong class="qianbao1"></strong>
    	    	<h2>钱包</h2>
    	    </li>
    	    <li>
    	        <strong class="kabao1"></strong>
    	    	<h2>卡包</h2>
    	    </li>
        </ul>
        <div class="biaoqing">
        	<strong class="biaoqing1"></strong>
    	    <h2>表情</h2>
        </div>
        <div class="set">
        	<strong class="set1"></strong>
    	    <h2>设置</h2>
        </div>
    </div>